html {
	height: 100%;
	overflow: visible;
	position: relative;
	width: 100%;
}

::-moz-selection {
	background-color: #8073b2;
	color: #fff;
}

::selection {
	background-color: #8073b2;
	color: #fff;
}

::-moz-selection {
	background-color: #8073b2;
	color: #fff;
}

body {
	background-color: #fff;
	font-family: "poppins", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}